extends layout

block append css

block append headContents
	link(href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet")
	// link(rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/cerulean/bootstrap.min.css")
	// link(rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/journal/bootstrap.min.css")
	// link(rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/readable/bootstrap.min.css")
	// link(rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/simplex/bootstrap.min.css")
	link(rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/spacelab/bootstrap.min.css")
	// link(rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/united/bootstrap.min.css")
	// link(rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/yeti/bootstrap.min.css")

block content

	div(class="container" style="background-color: #00000")

		// header
		div(class="navbar-wrapper")
			div(class="navbar navbar-inverse navbar-static-top" role="navigation")
				div(class="navbar-header")
					a(class="navbar-brand" href="#")
						text Poker Live!
				div(style="float:right;")
					a(href="https://twitter.com/share" class="twitter-share-button") Tweet
		// header

		// player entrance
		div(id="players")
			ul(class="nav nav-list col-xs-3")
				li(class="list-group-item")
					h4
						span(class="glyphicon glyphicon-user") PLAYERS
				for seatId, key in [0,1,2,3,4,5,6,7,8,9]
					li(class="list-group-item")
						div(class="input-group")
							input(type="text" onkeyup="keyUpPlayer(#{seatId});" id="inputPlayer#{seatId}" class="form-control" placeholder="Player #{seatId+1}")
							span(class="input-group-btn")
								button(class="btn" onClick="deletePlayer(#{seatId})") ×
		// player entrance

		div(id="center_pane" style="float:left;")

			// video 重ねる canvases
			div(style="float: left;")
				div(style="position:absolute;")
					// video canvas
					canvas(id="canvasForVideo" width="640" height="360" style="float:left;")
					// video canvas
				div(style="position:relative")
					// canvas
					canvas(id="canvas" width="640" height="360" style="float:left;")
					// canvas
			// video 重ねる canvases

			hr(class="featurette-divider")

			<!-- card selections -->
			div(id="card_selector" style="float: left;")
				div(id="suit_selector" class="btn-group" style="float: left;margin-right: 10px;")
					a(id="s" onclick="markClick('s')" style="color:#222" class="btn btn-default btn-lg mark") &#9824;
					a(id="h" onclick="markClick('h')" style="color:#F44" class="btn btn-default btn-lg mark") &#9829;
					a(id="d" onclick="markClick('d')" style="color:#55F" class="btn btn-default btn-lg mark") &#9830;
					a(id="c" onclick="markClick('c')" style="color:#393" class="btn btn-default btn-lg mark") &#9827;
				div(id="num_selector" style="float: left;")
					div(id="num_low_selector" class="btn-group")
						for num, key in [2,3,4,5,6,7,8,9]
							a(id="#{num}" onclick="numClick(#{num})" class="btn btn-default btn-lg num") #{num}
				div
					div(id="num_high_selector" class="btn-group")
						for num, key in ['T','J','Q','K','A']
							a(id="#{num}" onclick="numClick('#{num}')" class="btn btn-default btn-lg num") #{num}

			br
			div(style="float: left;")
				text input mode
				br
				select(id="changeInputMode")
					option(value="normal") normal
					option(value="easy") easy
					option(value="qrCode") QR code

			div(class="col-xs-4" id="inputArea")
				input(type="text" onkeydown="keyDown();" id="inputArea" class="form-control")
			div(style="float: left;")
				p(class="text-danger" id="message" style="font-size:18px;")
			a(onclick="sendCard()" class="btn btn-success btn-lg pull-right") Card Send

			div(style="clear:both;")
				div(id="image" width="300")
					span(style="color:#000;font-size:64px;")
						text 　

			div(style="float: left;")
				text Assistant mode
				br
				select(id="changeAssistantMode")
					option(value="Original") Original
					option(value="Assistant") Assistant
			div(style="float: left;")
				div(id="AssistantModeDisplay" width="300")
					span(style="color:#000;font-size:18px;")
						text 　Original
			// card selections

		// game progression
		div(class="btn-group-vertical")
			a(type="button" class="btn btn-Primary btn-lg col-xs-12 " style="text-align: left;" onclick="sendImage('nextGame')")
				span(class="glyphicon glyphicon-chevron-right")
				text Next Game
			br
			a(type="button" class="btn btn-Primary btn-lg col-xs-12 " style="text-align: left;" onclick="sendImage('resetGame')")
				span(class="glyphicon glyphicon-chevron-right")
				text Reset Game
		// game progression

		// 配置設定
		div
			text 配置設定
			br
			select(id="changeArrangement")
				for num, key in ['上下','左右']
					option(value="#{num}") #{num}
		// 配置設定

		// 背景色
		div
			text back ground color
			br
			select(id="changeBackground")
				for num, key in ['camera','rgb(255, 255, 0)','rgb(255, 0, 255)','rgb(0, 255, 255)']
					option(value="#{num}") #{num}
		// 背景色

		// footer
		div(style="clear:both;")
			footer
				hr(class="featurette-divider")
				p(class="pull-right")
					a(href="#") Back to top
				p
					text &copy; 2014 DWPC Tech. &middot;
					a(href="#") Privacy
					text &middot;
					a(href="#") Terms
		// footer
		
		// video
		video(id="myVideo" height="360" style="visibility:hidden" autoplay="1")
		// video


	script.
		var hostAddress = "#{hostAddress}";
	script.
		!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');


block append afterScripts
	script(type='text/javascript', src='/socket.io/socket.io.js')
	script(src="/javascripts/oddsSystem/ugly.min.js")
