extends layout

block append css

block append headContents

block content

	div(id="center_pane" style="float:left;")

		// video canvas
		canvas(id="canvasForVideo" width="400" height="300" style="float:left;")
		// video canvas
		br
		// result
		div(id='result')
		// result

	div(style="float:left;")
		text 　webカメラからの画像切り抜き頻度（ミリ秒）：
		select(id="changeReadQRCodeIntervalTimeMSec")
			for num, key in [1, 2, 5, 10, 20, 50, 100, 200, 500]
				if num === 100
					option(value="#{num}" selected) #{num}
				else
					option(value="#{num}") #{num}
		br

		div(id="center_pane")
			text password
			br
			input(type="password" id="inputArea")

	// sound
	div(id="id_sound" style="position:absolute; visibility:hidden")
		embed(id="id_sound" src="/music/cursor6.wav" autostart="true" hidden="true")
	// sound
	// video
	video(id="myVideo" style="visibility:hidden" autoplay="1")
	// video


	script.
		var hostAddress = "#{hostAddress}";

block append afterScripts
	script(type='text/javascript', src='/socket.io/socket.io.js')
	script(src="/assets/mscorlib.js")
	script(src="/assets/ZXingQR.js")
	script(src="/javascripts/qrCodeReader/video.js")
	script(src="/javascripts/qrCodeReader/client.js")



