div(style="position:absolute;")
	canvas(id="canvasForVideo" style="float:left; background-color: #e5e5e5;")

div(style="position:relative")
	canvas(id="canvas" width="640" height="360" style="float:left;")
	div(id="canvas_pane" style="position:absolute; width:640px; height:360px;")

		// Title
		div(id="captionBox" class="draggable border_radius" style="display:none; position: absolute; top:85px; left:203px;") Caption

		// Blind
		div(id="descriptionBox" class="draggable border_radius" style="display:none; position: absolute; top:125px; left:203px;") Description

		// Board
		div(id="board" class="draggable border_radius board" style="display:none; position: absolute; top:210px; left:203px;")
			div(style="overflow:hidden; margin: 5px 5px;")
				for boardId, key in [0,1,2,3,4]
					div(id="board#{boardId}" class="border_radius board card" style="float:left; display:none;")

		// PlayerBox
		for seatId, key in [0,1,2,3,4,5,6,7,8,9]
			div(id="player#{seatId}Box" class="playerBox draggable border_radius" data-active="false" style="display:none;")
				div(id="player#{seatId}Hand" class="cardHolder")
					div(id="player#{seatId}HandLeft" class="card handLeft" style="float:left;")
					div(id="player#{seatId}HandRight" class="card handRight" style="float:right;")
				div(style="display:table;")
					div(id="player#{seatId}Dealer" class="dealer" style="float:left;") D
					div(id="player#{seatId}Name" class="name" style="float:left;") player#{seatId+1}
				div(style="display:table;")
					div(id="player#{seatId}Action" class="actionBox" style="float:left; display:none;") C
					div(id="player#{seatId}Chip" class="chipBox" style="float:left; display:none;")
				div(style="clear:both; display:inline-block;")
					div(id="player#{seatId}Odds" class="odds")
					div(id="player#{seatId}Folded" class="folded" style="display:none;") Folded